<div class="about">
	<ul id="tab"class="clearfix">
		<li class="on">平台简介</li>
		<li>大事记</li>
		<li>员工风采</li>
	</ul>
	<div class="tab-content">
		<img src="../../images/about/about1.jpg" alt="平台简介" class="ml20"/>
		<div class="con-1 prel">
			<p class="mt32">狮子座金融（www.shizijr.com）隶属于广东狮子座互联网金融信息服务有限公司，总部坐落于广东第三大城市佛山，由18位投资人联合创立而成，2015年12月25日正式上线运营。</p>
			<p class="mt26">狮子座金融的18位股东，有在互联网和金融行业打拼过的专业人士，有来自国企事业单位的资深投资人，有来自广告业的刚刚接触投资的设计师，也有来自普通工薪阶层的投资白领，所有这些来自五湖四海的投资人因为共同的理想汇聚在一起，朝着共同的目标齐心协力，希望创建一个信息公开透明、真正脚踏实地的互联网金融服务平台。狮子座金融团队期望为投融双方创造持续透明、公平专业、安全高效的线上交易环境，为中青年人群提供精确、及时、充分的投融资信息，为他们的财富增值和投资管理做出合理规划和指导。</p>
			<p class="mt26">作为投资人自己成立的互联网金融平台，狮子座金融前期将专注于为青年人群提供完善的互联网金融服务，包括线上P2P借贷与线下购物分期消费。致力于通过网络便捷的金融服务和消费理念，助力年轻人树立正常的金融理财观念，让所有年轻人能轻松享受丰富的物质生活，让生活变得更加美好。未来狮子座金融将通过专业的投资咨询、资产管理等一站式服务，为更多投资者带来财富增值。</p>
			<img src="../../images/about/about2.jpg" alt="营业执照"/>
		</div>
		<div class="con-2">
			<p><img src="../../images/about/aboutlogo.png"alt="logo寓意" class="fl mr46"/> Logo总体结构简洁、流畅，造型线条优美，时代感强，昭示着狮子座金融基业长青，岁岁向荣。Logo以盾形的形式来表现防护，象征着狮子座金融安全、可靠，她就如盾为战士防护身体一样，防护着投资人的财富。寓意着狮子座金融为更多投资者带来财富增值的愿景。</p>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td>公司全称</td>
				    <td>广东狮子座互联网金融信息服务有限公司</td>
				    <td>联系方式</td>
				    <td>400-8099-334</td>
				  </tr>
				  <tr>
				    <td>公司简称</td>
				    <td>广东狮子座</td>
				    <td>平台简称</td>
				    <td>狮子座金融</td>
				  </tr>
				  <tr>
				    <td>所在地</td>
				    <td>广东佛山禅城区</td>
				    <td>平台网址</td>
				    <td>www.shizijr.com</td>
				  </tr>
				  <tr>
				    <td>成立时间</td>
				    <td>2015-11-25</td>
				    <td>上线时间</td>
				    <td>2015-12-25</td>
				  </tr>
				  <tr>
				    <td>注册资本</td>
				    <td>1000万 </td>
				    <td>法定代表人</td>
				    <td>钟斌</td>
				  </tr>
				  <tr>
				    <td>注册地址</td>
				    <td>佛山市禅城区石湾镇街道雾岗路80号二层</td>
				    <td>办公地址</td>
				    <td>雾岗路80号二层</td>
				  </tr>
				  <tr>
				    <td class="seven">经营范围</td>
				    <td colspan="3">互联网金融信息服务，房地产投资及咨询，受托资产管理，企业信息管理，经济贸易咨询，经济信息咨询；计算机技术开发；网上国内贸易。（依法须经批准的项目，经相关部门批准后方可开展经营活动）</td>
				  </tr>
				  <tr>
				    <td>客服投诉电话</td>
				    <td>400-8099-334</td>
				    <td>客服投诉邮箱</td>
				    <td>shizijr@163.com</td>
				  </tr>
				  <tr>
				    <td>微信服务号</td>
				    <td>狮子座金融</td>
				    <td>微信订阅号</td>
				    <td>狮子讲座</td>
				  </tr>
			</table>
		</div>
	
		<div class="con-3">
			<h3>企业价值观</h3>
			<ul class="clearfix wtb100 one">
				<li><i class="i1"></i>诚信立业</li>
				<li><i class="i2"></i>普惠金融</li>
				<li><i class="i3"></i>专业敬业</li>
				<li><i class="i4"></i>开拓进取</li>
				<li><i class="i5"></i>公开透明</li>
			</ul>
			<h3 class="mt50">企业文化</h3>
			<ul class="clearfix mt32 two">
				<li class="li01 mr16"><img src="../../images/about/about6.jpg" alt="企业文化"/><span class="s1">【愿景】</span><span class="s2">发现更大的世界<br />享受更美的生活</span></li>
				<li class="li02 mr16"><img src="../../images/about/about4.jpg" alt="企业文化"/><span class="s1">【使命】</span><span class="s2">提升青年消费者生活品质<br />让投资者财富增值</span></li>
				<li class="li03"><img src="../../images/about/about5.jpg"/ alt="企业文化"><span class="s1">【口号】</span><span class="s2">做投资人自己的平台<br />放心的平台</span></li>
			</ul>
		</div>
	</div>
</div>