<div class="team">
	<ul id="tab"class="clearfix">
		<li class="on">运营团队</li>
		<li>股东组成</li>
	</ul>
	<div class="tab-content">
		<div class="boss">
			<div class="left fl">
				<i></i>
				<p class="fz16">钟斌</p>
			</div>
			<div class="right fl">
				<h3 >联合创始人  &nbsp;总经理</h3>
				<p class="say yellow">“致力于为所有投资人提供一个从大学时代即可轻松享受超高品质的金融服务的平台。”</p>
				<p class="fz12">毕业于专业财经院校应用经济学专业；实力派网贷研究者，熟悉佛山市行业环境及行业风险形态，对企业短期融资、资产收购融资、中小企业信贷业务、风控、P2P运营有丰富的实战经验。曾在银行系统从事公司信贷业务和授信审查、风险管理等岗位工作达五年，任职担保公司产品与风控经理</p>
			</div>
		</div>
		<div class="boss">
			<div class="left fl">
				<i></i>
				<p class="fz16">梁雄辉</p>
			</div>
			<div class="right fl">
				<h3 >联合创始人  &nbsp;风控总监</h3>
				<p class="say yellow">“我们将以投资人的角度去经营这个平台，我相信狮子座金融未来一定会越来越好。”</p>
				<p class="fz12">湖南大学电子商务专业，多年服务于保险和证券公司，精通银行理财及投资业务，与各大银行皆有业务往来，熟悉金融行业理财产品，有一套过硬的风险控制的检验标准。了解客户体验需求，熟悉移动互联网社会化营销及推广手段。具备丰富的客户发展和维护经验，职业生涯跨越多个行业，</p>
			</div>
		</div>
		<div class="boss">
			<div class="left fl">
				<i></i>
				<p class="fz16">汪毅</p>
			</div>
			<div class="right fl">
				<h3 >运营总监</h3>
				<p class="say yellow">“荣誉 责任 勇气 自律”</p>
				<p class="fz12">计算机专业学士。10余年互联网产品、运营管理经验，先后任职于奇虎360、奇智软件等顶级互联网企业。 在互联网生态圈打造、新媒体运营、品牌数据化运营领域有丰富的经验及见解，2013年开始进入互联网金融行业， 并成功主导两个大型互联网金融平台的产品设计、运营规划。</p>
			</div>
		</div>
		<div class="boss">
			<div class="left fl">
				<i></i>
				<p class="fz16">李海波</p>
			</div>
			<div class="right fl">
				<h3 >联合创始人  &nbsp;品牌总监</h3>
				<p class="say yellow">“一个公司的规模、品牌及市场地位不是取决于董事会，而是取决于客户。对于一家互联网公司来说，品牌建设则主要在于全力去提升客户体验。”</p>
				<p class="fz12">毕业于中文系美术专业，十多年间先后在欧神诺陶瓷、卓远陶瓷等传统企业历任过平面创意总监、策划部经理等职务，对品牌定位和推广、新媒体营销等都有自己独特的见解。2014年开始互联网金融投资，2015年初看好互联网长远发展， 跨行加入互联网行业。</p>
			</div>
		</div>
		<div class="boss">
			<div class="left fl">
				<i></i>
				<p class="fz16">霍雪怡</p>
			</div>
			<div class="right fl">
				<h3 >运营助理、产品技术部经理</h3>
				<p class="say yellow">“用户价值，用户体验，以及与用户体验相关的所有事情，都是我们开发产品的关注点。从用户角度出发，对自己对产品负责任。”</p>
				<p class="fz12">毕业于计算机科学与技术专业，本科学历。多年来在传统企业负责产品包装、品牌企划及整体活动统筹，拥有丰富的项目控制及产品开发管理经验。近年进入互联网金融行业，负责产品开发及技术管理。</p>
			</div>
		</div>
		<div class="boss">
			<div class="left fl">
				<i></i>
				<p class="fz16">周淑芳</p>
			</div>
			<div class="right fl">
				<h3 >财务部经理</h3>
				<p class="say yellow">“一分一毫，一点一滴，一丝不苟; 似水滴石，永无止境。”</p>
				<p class="fz12">毕业于经济管理学院财务专业，拥有多年财务经验，熟悉税务、财务管理等相关法律法规。熟练掌握高级财务管理软件和办公软件。审核财务报表，提交财务管理工作报告。参与公司重要事项的分析和决策，为企业的业务发展等事项提供财务方面的分析和决策依据。</p>
			</div>
		</div>
		<div class="boss">
			<div class="left fl">
				<i></i>
				<p class="fz16">刘晓杰</p>
			</div>
			<div class="right fl">
				<h3 >推广部经理</h3>
				<p class="say yellow">“网络推广是一项很神奇的工作，想的多一定没做的多有效，然而不想便做一定没什么效果”</p>
				<p class="fz12">毕业于计算机应用技术专业，先后从事过互联网电商、互联网金融等领域，对数据敏感，熟知市场动态，透析市场本质，对互联网金融的运营推广等环节有较丰富的工作经验。</p>
			</div>
		</div>
		<div class="boss">
			<div class="left fl">
				<i></i>
				<p class="fz16">金颖欣</p>
			</div>
			<div class="right fl">
				<h3 >客服部经理</h3>
				<p class="say yellow">“在为别人服务时，要把别人的事当作自己的事去做；在接受别人服务时，要像尊重自己一样尊重别人。”</p>
				<p class="fz12">大学毕业后投入金融相关行业工作，曾在某投资咨询公司担任总经理助理，熟悉金融行业的知识及规则。而后加入狮子座金融公司担任客服主管一职，通过长时间与投资人的接触，深深知道一切以客户为先的道理。以专业、积极进取、勤奋学习、切合客户需求的精神，脚踏实地地为客户服务。</p>
			</div>
		</div>
	</div>
</div>	
	
