<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="Keywords" content="关键词"/>
		<meta name="Description" content="关键词描述"/>
		<title>狮子座金融</title>
		<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/investment.css"/>
		<link rel="stylesheet" type="text/css" href="../lightbox/css/lightgallery.css"/>
		<script src="../js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/investment.js" type="text/javascript" charset="utf-8"></script>
		<script src="../lightbox/js/lightgallery.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="top">
			<div class="wt1200 ">
				<div>
					<span class="ml46">客服热线&nbsp;400-8099-344</span>
					<a class="ml20" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=064e12f234549bcba0004a369ff1e1cd74e2f624c523cbfb6a56622b98e4e837">加入官方服务群（群号304822753）</a>
				</div>
				<div class="right fz14">
					<a href="##">登录</a>
					<b>|</b>
					<a href="##">注册</a>
					<b>|</b>
					<a href="##">帮助中心</a>
				</div>
			</div>
		</div>
		<div class="hender">
			<div class="wt1200">
				<div class="logo di"><img src="../images/logo.png" alt="狮子座金融"/></div>
				<div class="nav">
					<ul class="clearfix">
						<li><a href="##" class="active">首&nbsp;&nbsp;页</a></li>
						<li><a href="##">我要投资</a></li>
						<li><a href="##">投资指引</a></li>
						<li class="moveto prel"><a href="##">信息披露</a>
							<ul class="submenu">
								<li><a href="##">运营报告</a></li>
								<li><a href="##">实时办公</a></li>
								<li><a href="##">安全保障</a></li>
								<li><a href="##">平台简介</a></li>
								<li><a href="##">管理团队</a></li>
								<li><a href="##">股东组成</a></li>
								<li><a href="##">官方公告</a></li>
								<li><a href="##">还款公告</a></li>
								<li><a href="##">公司动态</a></li>
								<li><a href="##">行业资讯</a></li>
								<li><a href="##">趣味理财</a></li>
							</ul>
						</li>
						<li><a href="##">我的账户</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="crumbs">
			<a href="##">首页&gt;</a><a href="##">投资列表&gt;</a><span>刘先生房产抵押借款</span>
		</div>
	
		<div class="wt1200 details-guan">
			
			<!--标的展示+投标form--s-->
			<div class="detail01 clearfix">
				<div class="left fl">
					<div class="row01">
						<i class="icon ihouse fz18">房</i><span class="title">杨先生资金周转借款杨先生资金周转借款杨先生资金周转借款杨先生资金周转借款杨先生资金周转借款</span>
					</div>
					<div class="row02 clearfix">
						<dl>
							<dt class="red"><strong>24.</strong><em>00%</em></dt>
							<dd>年化利率</dd>
						</dl>
						<dl>
							<dt>400000<em>元</em></dt>
							<dd>借款金额</dd>
						</dl>
						<dl>
							<dt>3<em>个月</em></dt>
							<dd>期限</dd>
						</dl>
						<dl>
							<dt class="fzxx">等额本金</dt>
							<dd>还款方式</dd>
						</dl>
						<dl class="pro prel">
							<dt></dt>
							<dd>55%</dd>
						</dl>
					</div>
					<div class="row03 clearfix">
						<p class="ml32">发标时间：<em>2017年03月22日19时00分</em></p>
						<p class="ml32">计息方式：<em>满标日 T+0 计息</em></p>
						<p>保障方式：<em>风险备用金</em></p>                                             
						<p class="ml32">剩余时间：<em class="times color-blue" time="2017/04/06 16:59:42">0天0小时0分钟0秒</em> </p>
					</div>	
				</div>
				<!--form-->
				<div class="investment-form fl">
					<form action="" method="post">
						<p class="p1">账户余额<a href="##" class="blue fz14">登录</a><span class="fz14 hui">后可见</span></p>
						<p class="p2">剩余可投 <span class="ml20 shengyu">10000.00</span><em class="yuan y1">元</em></p>
						<p class="p2 mt10">投标金额 <input type="number" name="" id="" value=""  class="ml20"/><em class="yuan">元</em></p>
						<p class="p2 mt10">可选加息 
							<select name="" class="ml20">
								<option value="">--不使用加息券--</option>
								<option value="">1.2%加息券</option>
								<option value="">0.6%加息券</option>
								<option value="">2.0%加息券</option>
								<option value="">1.2%加息券</option>
								<option value="">1.2%加息券</option>
							</select></p>
						<label class="p4"><input type="checkbox" name="" id="" value="" checked="checked"/> 我已阅读狮子座金融<a href="##" class="blue">《出借交易服务协议》</a> </label>
						<button type="button" class="btn">投标</button>
					</form>
				</div>
			</div>
			<!--展示+form---end-->
			
			<!--借款资料-->
			<div class="detail02">
				<!--借款文字资料--s-->
				<h3 class="title">借款信息<i class="line"></i></h3>
				<div class="lines line01">
					<div class="left">合同编号</div>
					<div class="right">SZZ借字（2017）第960</div>
				</div>
				<div class="lines line01">
					<div class="left">借款人ID</div>
					<div class="right">1866****</div>
				</div>
				<div class="lines line01">
					<div class="left">借款人用户名</div>
					<div class="right">1866****</div>
				</div>
				<div class="lines line01">
					<div class="left">发标编号</div>
					<div class="right">032202</div>
				</div>
				<div class="lines line02 clearfix">
					<div class="left fl">
						<i class="leftIcon"></i>
						<p>借款详情</p>
					</div>
					<div class="right fl prel">
						<div class="mt32 getH1">
							<h5>借款概述</h5>
							<p>东莞刘先生资金周转借款，现48岁，已婚，育有2孩，在佛山居住多年，社会关系稳定，家庭条件良好，银行征信良好，还款记录良好。借款人在南海经营鞋业公司，是该公司法人代表，注册资本50万元，每月营业额30万元，盈利稳定，已经营6年。借款人配偶在该公司任职财务。借款人名下有一辆江铃陆风小汽车。借款人名下有一房产位于佛山市禅城区岭南大道北某地下一层停车场，建筑面积33.33平方米，套内建筑面积12.72平方米，价值22万元，欠银行抵押62万，现该房产已办理二次抵押登记至狮子座金融投资人安锐名下，抵押借款15万元，抵押权人为狮子座金融投资人安锐。</p>
						</div>
						<div class="mt32 getH2">
							<h5>借款额度</h5>
							<p>现因资金周转需求，向狮子座金融申请借款15万元，授信周期24个月，每月归还1/24本金。</p>
						</div>
						<div class="mt32">
							<h5>合同补充</h5>
							<p>本次借款合同有效期至2019年3月14日，由于发标期限限制，无法设置成合同到期日还款，若借款人到期续借，将补充续借合同与照片上传。 如借款人到期还款，此标将于2019年3月14日手动赎回，债权人补偿投资人三天利息。</p>
						</div>
						<div class="long"></div>
					</div>
				</div>
				<div class="lines line03 clearfix">
					<div class="left fl">
						<i class="leftIcon i2"></i>
						<p>资料核实</p>
					</div>
					<div class="right fl">
						<dl class="bR">
							<dt class="i3 rightIcon"></dt>
							<dd>已核实借款人房产居住信息，周边环境升值空间较高。</dd>
						</dl>
						<dl>
							<dt class="i4 rightIcon"></dt>
							<dd>已核实借款人财务状况，近期交易往来。</dd>
						</dl>
						<dl class="bR">
							<dt class="i5 rightIcon"></dt>
							<dd>已核实借款人社会交往关系，导出借款人近期6个月通话清单予以保存。</dd>
						</dl>
						<dl>
							<dt class="i6 rightIcon"></dt>
							<dd>已核实借款人无法院执行记录，无债务诉讼记录，无商业纠纷记录。</dd>
						</dl>
						<p class="rightBottom">借款手续完备，合同齐全，无法律风险。</p>
					</div>
				</div>
				<!--借款文字资料--end-->
				<!--现场照片-s-->
				<h3 class="title">现场图片<i class="line"></i></h3>
				<div class="pictures">
					<div id="lightgallery" class="slide1 lightgallery clearfix">
						<a href="../images/ban2.jpg">
						   <img src="../images/ban2.jpg" alt="现场图片"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="现场图片"/>
						</a>
						<a href="../images/wenxin.png">
						   <img src="../images/investPic1.jpg" alt="现场图片"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="现场图片"/>
						</a>
						<a href="../images/wenxin.png">
						   <img src="../images/investPic1.jpg" alt="现场图片"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="现场图片"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="现场图片"/>
						</a>
						<a href="../images/wenxin.png">
						   <img src="../images/investPic1.jpg" alt="现场图片"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="现场图片"/>
						</a>
						<a href="../images/ban2.jpg">
						   <img src="../images/ban2.jpg" alt="现场图片"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="现场图片"/>
						</a>
						<a href="../images/wenxin.png">
						   <img src="../images/investPic1.jpg" alt="现场图片"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="现场图片"/>
						</a>
						<a href="../images/wenxin.png">
						   <img src="../images/investPic1.jpg" alt="现场图片"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="现场图片"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="现场图片"/>
						</a>
						<a href="../images/wenxin.png">
						   <img src="../images/investPic1.jpg" alt="现场图片"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="现场图片"/>
						</a>
					</div>
					<div class="picIndex">
						<span id="pre">&lt;</span><em id="on" class="on"></em><span id="next">&gt;</span>
					</div>
				</div>              
				<!--现场照片-end-->
				<!--借款图片资料-s-->
				<h3 class="title">借款资料<i class="line"></i></h3>
				<div class="pictures">
					<div id="lightgallery two" class="slide2 lightgallery clearfix">
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="借款资料"/>
						</a>
						<a href="../images/wenxin.png">
						   <img src="../images/investPic1.jpg" alt="借款资料"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="借款资料"/>
						</a>
						<a href="../images/wenxin.png">
						   <img src="../images/investPic1.jpg" alt="借款资料"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="借款资料"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="借款资料"/>
						</a>
						<a href="../images/wenxin.png">
						   <img src="../images/investPic1.jpg" alt="借款资料"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="借款资料"/>
						</a>
						<a href="../images/ban2.jpg">
						   <img src="../images/ban2.jpg" alt="借款资料"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="借款资料"/>
						</a>
						<a href="../images/wenxin.png">
						   <img src="../images/investPic1.jpg" alt="借款资料"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="借款资料"/>
						</a>
						<a href="../images/wenxin.png">
						   <img src="../images/investPic1.jpg" alt="借款资料"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="借款资料"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="借款资料"/>
						</a>
						<a href="../images/wenxin.png">
						   <img src="../images/investPic1.jpg" alt="借款资料"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="借款资料"/>
						</a>
					</div>
					<div class="picIndex">
						<span id="pre">&lt;</span><em id="on" class="on"></em><span id="next">&gt;</span>
					</div>
				</div> 
				<!--借款图片资料-end-->
				<!--合同凭证-s-->
				<h3 class="title">合同凭证<i class="line"></i></h3>
				<div class="pictures">
					<div id="lightgallery two" class="slide3 lightgallery clearfix">
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="合同凭证"/>
						</a>
						<a href="../images/wenxin.png">
						   <img src="../images/investPic1.jpg" alt="合同凭证"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="合同凭证"/>
						</a>
						<a href="../images/wenxin.png">
						   <img src="../images/investPic1.jpg" alt="合同凭证"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="合同凭证"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="合同凭证"/>
						</a>
						<a href="../images/wenxin.png">
						   <img src="../images/investPic1.jpg" alt="合同凭证"/>
						</a>
						<a href="../images/ban1.jpg">
						   <img src="../images/investPic1.jpg" alt="合同凭证"/>
						</a>
					
					</div>
					<div class="picIndex">
						<span id="pre">&lt;</span><em id="on" class="on"></em><span id="next">&gt;</span>
					</div>
				</div>         
				<!--合同凭证-end-->
				
				
				<div id="tab" class="datatitle">
					<ul class="clearfix">
						<i class="on"></i>
						<li>投标记录</li>
						<li>回款计划</li>
						<li>风险提示</li>              
					</ul>
				</div>
				
				<div class="datalist">
					
				<!--投标记录-->
					<table class="tab-content t-center table-2" border="0" cellspacing="0" cellpadding="0">
						<tr class="first-tr"><th>投资人</th><th>投资方式</th><th>投资金额 </th><th>投资时间</th><th>状态</th></tr>
						<tr><td>1、maji****</td><td>自动投标</td><td>30,000</td><td>2017-3-24 16:00:01 </td><td class="blue">成功</td>               
						<tr><td>2、maji****</td><td>自动投标</td><td>30,000</td><td>2017-3-24 16:00:01 </td><td class="blue">成功</td>               
						<tr><td>3、maji****</td><td>自动投标</td><td>30,000</td><td>2017-3-24 16:00:01 </td><td class="blue">成功</td>               
						<tr><td>4、maji****</td><td>自动投标</td><td>30,000</td><td>2017-3-24 16:00:01 </td><td class="blue">成功</td>               
						<tr><td>5、maji****</td><td>自动投标</td><td>30,000</td><td>2017-3-24 16:00:01 </td><td class="blue">成功</td>               
						<tr><td>6、maji****</td><td>自动投标</td><td>30,000</td><td>2017-3-24 16:00:01 </td><td class="blue">成功</td>               
						<tr><td>7、maji****</td><td>自动投标</td><td>30,000</td><td>2017-3-24 16:00:01 </td><td class="blue">成功</td>               
						<tr><td>8、maji****</td><td>自动投标</td><td>30,000</td><td>2017-3-24 16:00:01 </td><td class="blue">成功</td>               
						<tr><td>9、maji****</td><td>自动投标</td><td>30,000</td><td>2017-3-24 16:00:01 </td><td class="blue">成功</td>               
						<tr><td>10、maji****</td><td>自动投标</td><td>30,000</td><td>2017-3-24 16:00:01 </td><td class="blue">成功</td>               
						<tfoot>
              				<tr><td colspan="5"class="tfoot"><div class="pageNum"><span>第 3 页 / 共 210 页</span><a href="javascript:void(0)">首页</a><a href="javascript:void(0)">上一页</a> <a href="javascript:void(0)">1</a> <a href="javascript:void(0)" class="active">2</a> <a href="javascript:void(0)">3</a> <a href="javascript:void(0)">4</a> <a href="javascript:void(0)">5</a> <a href="javascript:void(0)">6</a> <a href="javascript:void(0)">7</a> <a href="javascript:void(0)">下一页</a><a href="javascript:void(0)">末页</a></div></td></tr>
						</tfoot>	
					</table>
					
					<!--回款计划-->
					<table class="dn tab-content t-center table-2" border="0" cellspacing="0" cellpadding="0">
						<tr class="first-tr"><th>结算时间</th><th>结算天数</th><th>结算本金（元）</th><th>结算利息（元）</th><th>结算状态</th></tr>
						<tr><td>2017年03月31日</td><td>31</td><td>--</td><td>--</td><td class="hui">已还款</td>               
						<tr><td>2017年03月31日</td><td>31</td><td>--</td><td>--</td><td class="hui">已还款</td>               
						<tr><td>2017年03月31日</td><td>31</td><td>30,000</td><td>--</td><td class="hui">已还款</td>               
						<tr><td>2017年03月31日</td><td>31</td><td>30,000</td><td>--</td><td class="hui">已还款</td>               
						<tr><td>2017年03月31日</td><td>31</td><td>30,000</td><td>1,930.63</td><td class="blue">还款中</td>               
						<tr><td>2017年03月31日</td><td>31</td><td>30,000</td><td>1,930.63</td><td class="blue">还款中</td>               
						<tr><td>2017年03月31日</td><td>31</td><td>30,000</td><td>1,930.63</td><td class="blue">还款中</td>               
						<tr><td>2017年03月31日</td><td>31</td><td>30,000</td><td>1,930.63</td><td class="blue">还款中</td>               
						<tr><td>2017年03月31日</td><td>31</td><td>30,000</td><td>1,930.63</td><td class="blue">还款中</td>               
						<tr><td>2017年03月31日</td><td>31</td><td>30,000</td><td>0</td><td class="blue">还款中</td>               
					</table>
					
					<!--风险提示-->
					<div class="dn tab-content">
						<div class="message">
							<h4>致尊敬的狮子座金融投资者们:</h4>
							<p>大家好，为了更好的服务大家，在此温馨提醒大家，通过互联网平台进行投资，可能会面临以下风险，请各位仔细阅读以下重要内容：</p>
							<h4>一、政策风险:</h4>
							<p>网络投资理财平台已有相关的法律、政策进行约束管理，如果国家法律、法规、行政规章或政策发生重大调整、变化，可能会导致投资的有效性发生变化或需要提前终止投资。由于政策的变化可能会导致网络借贷面临损失。</p>
							<h4>二、市场风险:</h4>
							<p>网络投资理财平台作出的预期收益率需严格遵守法律的规定，国家规定的利率政策等会受到市场资金供求关系、行业政策、商品价格等变化的影响，平台也会受此影响可能造成投资收益的下降。</p>
							<h4>三、流动风险:</h4>
							<p>在借贷关系存续期间，投资者不能以不正当理由提前终止合同，在存续期间内不能提前提现金额。</p>
							<h4>四、信用风险:</h4>
							<p>当合同借款方信用出现问题或由于其他个人原因丧失还款能力，拒绝偿还或不能按时偿还借款本金及收益时，投资者本金和预期能获取到的收益可能会面临损失。</p>
							<h4>五、操作风险:</h4>
								<p>由于系统本身问题或是黑客侵入或自己操作不当可能造成的损失，具体包括以下情况：<br />
									1. 不可预测或无法控制的系统故障、设备故障、通讯故障、停电等突发事故；<br />
									2. 由于互联网和移动通讯网络的黑客恶意侵入；<br />
									3. 个人账号及密码信息被盗或被泄露；<br />
									4. 个人操作不当、管理不善等原因造成他人恶意使用；
								</p>
							<h4>六、其他风险:</h4>
								<p>	1. 由于战争、自然灾害等不可抗力因素的出现，将影响市场的正常运行，以致影响投资标的无法正常运行、偿付，造成投资损失。<br />
									2. 出现重大金融市场危机、行业竞争等超出平台自身控制能力之外的风险，可能导致投资者的利益受损；<br />
									3. 因其他无法预测、无法控制的不可抗力因素而导致的损失风险。<br />
								</p>
								<p style="margin-top: 10px;">以上是平台向投资者作出的风险提示，请在作出投资决定、签署相关协议之前认真阅读本风险提示以及平台发布的其他各项规则、协议，根据平台的提示并结合自身的财务状况、风险承受能力、预期目标等理性进行投资。</p>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
